<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattlePlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BattlePlanner.Properties.Settings>
            <setting name="WinX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WinY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlatoonW" serializeAs="String">
                <value>1334</value>
            </setting>
            <setting name="PlatoonH" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="XStart" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="YStart" serializeAs="String">
                <value>235</value>
            </setting>
            <setting name="CellDim" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>115</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>137</value>
            </setting>
            <setting name="SubDim" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Phase" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpreadsheetID" serializeAs="String">
                <value />
            </setting>
            <setting name="CompareSize" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>light-side</value>
            </setting>
            <setting name="AutoPost" serializeAs="String">
                <value>False</value>
            </setting>
        </BattlePlanner.Properties.Settings>
    </userSettings>
</configuration>